<!-- Board Header -->
<app-header title="Board"></app-header>

<div class="container-fluid">
    <div class="row">
        <!-- Board Sidebar -->
        <nav class="col-3 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    @for (project of userProjects; track project.id) {
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            [class.active]="project.id === project.id"
                            [routerLink]="['/board', project.id]"
                        >
                            <span data-feather="home"></span>
                            {{ project.name }}
                            <ng-container *ngIf="currentProjectID as id">
                                <span *ngIf="id === project.id" class="sr-only"
                                    >(current)</span
                                >
                            </ng-container>
                        </a>
                    </li>
                    }
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            [routerLink]="['/board/new']"
                        >
                            <span data-feather="home"></span>
                            Create new Board
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <main
            role="main"
            class="col-sm-12 col-md-9 _df _fdc ml-sm-auto pt-3 px-4"
        >

            <router-outlet></router-outlet>

        </main>

    </div>
</div>
