.add-todo {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #333;
    color: #333;

    &:after {
        content: 'Add Todo';
        font-size: 15px;
        line-height: 15px;
        font-weight: normal;
    }
}

.dropdown-item:hover {
    cursor: pointer;
}