form {
    display: flex;
    flex-direction: column;
    max-width: 500px;

    >input,
    >select,
    >button {
        flex: 0 0 33%;
    }

    .form-control.wrong {
        border: 2px solid red;
    }

    .error {
        font-size: 10px;
        color: red;
    }
}