<h2>Edit Board</h2>

@if (board) {
    <form [formGroup]="boardForm" (ngSubmit)="onBoardSubmit()" class="p-3">
        <div class="mb-3">
            <label for="board" class="form-label">Board Id:</label>
            <input id="board" type="number" class="form-control" formControlName="boardid">
        </div>

        <div class="mb-3">
            <label class="form-label">Add Members</label>
            <div style="display: flex; gap: 48px;">
                <select id="members" class="form-select" formControlName="members" style="width: 50%;">
                    @for (user of users; track user.id) {
                        <option [ngValue]="user.id">{{user.username}}</option>
                    }
                </select>
                <button type="button" (click)="addUser()" class="btn btn-primary" [disabled]="boardForm.get('members')?.value == ''">Add User</button>
            </div>
        </div>

        <div class="members mb-3">
                @for (member of board.members; track member.id) {
                    <div class="member" (click)="removeUser(member.id)">{{member.username}}</div>
                }
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Title:</label>
            <input id="name" type="text" class="form-control" formControlName="name">
            @if(!boardForm.get("name")?.valid) {
                <span class="error">The title must be at least 5 characters long.</span>
              }
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="isSubmitDisabled()">Send</button>
  </form>
}