/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
}

// Custom Globals

._df {
    display: flex;
}

._fdc {
    flex-direction: column;
}

._fdr {
    flex-direction: row;
}

._g05 {
    gap: .5em;
}

._g1 {
    gap: 1em;
}

._g2 {
    gap: 2em;
}

// Snackbar global styling

.custom-snackbar {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10000;

    .toast-header {
        display: flex;
        justify-content: space-between;
    }

    .toast .close {
        padding: 0;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
    }
}

// Missing bootstrap spacing
.mr-2,
.mx-2 {
    margin-right: .5rem !important;
}

// Toast
.toast-error {
    color: red;
}